/* Layout base */
.wrapper {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 260px;
    background-color: #2d2f36;
    transition: .25s;
    flex-shrink: 0;
}

.sidebar.collapsed {
    width: 75px;
}

.sidebar .nav-link {
    color: #ddd;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    transition: .2s;
}

.sidebar .nav-link:hover {
    background-color: #3d3f48;
}

/* Hide text when collapsed */
.sidebar.collapsed .nav-link span {
    display: none;
}

/* Main content */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #f4f6f9;
    transition: .25s;
}

/* Dark mode */
body.dark {
    background-color: #1c1e24;
}

body.dark .main {
    background-color: #1c1e24;
    color: #fff;
}

body.dark .sidebar {
    background-color: #202126;
}

body.dark .sidebar .nav-link:hover {
    background-color: #3a3d44;
}

.page-heading h3 {
    font-weight: 700;
}
